.App {
  text-align: center;
}

body{
  background-color: aquamarine;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  /* background-color: #282c34; */
  background-image: './water-spash.jpg';
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* Chars */

.char-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.char-grid li {
  padding: 10px 5px;
  text-align: left;
  box-sizing: border-box;
}

.char {
  border-bottom: 1px solid #666;
  margin-right: 4px;
  font-weight: bold;

} 

